Package: nitin.example.voipcallrecorder
Name: VOIPCallRecorder
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Nitin Khurana
Author: Nitin Khurana
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Version: 0.0.1-102+debug
Installed-Size: 224
